extends layout.pug

block scripts
  link(rel='stylesheet', href='/index.css')

block content
  div#updateTime
    //- p Book List Updated On:
    p Updated On #{last_updated}
    p Books In Collection: #{book_count}
  //- div#lastUploaded
  //-   p The Last 3 Books To Be Added Were:
  //-     each book in last_uploaded
  //-       p #{book.title}
  table
    each book, i in book_list
      tr
        if book.notes
          td.title #{book.title} <br /> <hr /> #{book.notes}
        else
          td.title #{book.title}
        td.author #{book.author}
        td
          - for (var f = 0; f < book_list[i].format.length; f++)
            if book_list[i].format[f].pdf
              a(href= book.format[f].pdf) PDF (#{book.format[f].size})
        td
          - for (var f = 0; f < book_list[i].format.length; f++)
            if book_list[i].format[f].epub
              a(href= book.format[f].epub) EPUB (#{book.format[f].size})
        td
          - for (var f = 0; f < book_list[i].format.length; f++)
            if book_list[i].format[f].mobi
              a(href= book.format[f].mobi) MOBI (#{book.format[f].size})