extends layout.pug

block scripts
  link(rel='stylesheet', href='/index.css')

block content
  div#updateTime
    //- p Book List Updated On:
    p Updated On #{last_updated}
    p Books In Collection: #{book_count}
  //- div#lastUploaded
  //-   p The Last 3 Books To Be Added Were:
  //-     each book in last_uploaded
  //-       p #{book.title}
  table
    each book in book_list
      tr
        if book.notes
          td.title #{book.title} <br /> <hr /> #{book.notes}
        else
          td.title #{book.title}
        td.author #{book.author}
        td
          if book.format.pdf
            a(href= book.format.pdf) PDF
        td
          if book.format.epub
            a(href= book.format.epub) EPUB
        td
          if book.format.mobi
            a(href= book.format.mobi) MOBI